{% extends "main-content/attachment.twig" %}

{% block title %}
  <h1>Video information</h1>
{% endblock %}

{% block media %}
  <figure class="wp-block-video">
    <video controls poster="{{ post.thumbnail }}" src="{{ post.link }}"></video>
    {% if post.post_excerpt %}<figcaption>{{ post.post_excerpt }}</figcaption>{% endif %}
  </figure>
{% endblock %}

{% block mediainfo %}
  <dt>File type:</dt>
  <dd>{{ post.post_mime_type }}</dd>

  <dt>Video resolution:</dt>
  <dd>{{ post.custom._wp_attachment_metadata.width }} x {{ post.custom._wp_attachment_metadata.height }}</dd>
{% endblock %}