<ul class="wp-block-gallery columns-{{ columns }} is-cropped">
  {% for img in imgs %}
  <li class="blocks-gallery-item">
    <figure>
      {% if img.url %}<a href="{{ img.url }}">{% endif %}
      <img src="{{ img.src }}" srcset="{{ img.srcset }}" sizes="(max-width: 575px) calc(100vw - 40px), (max-width: 767px) calc(100vw - 60px), (max-width: 991px) calc((100vw - 100px) * 0.8), (max-width: 1199px) calc((100vw - 160px) * 0.8), (max-width: 1499px) calc((100vw - 200px) * 2 / 3), (max-width: 1699px) calc((100vw - 728px) * 7 / 12 + 288px), 855px" alt="{{ img.alt }}" />
      {% if img.caption %}
      <figcaption>{{ img.caption }}</figcaption>
      {% endif %}
      {% if img.url %}</a>{% endif %}
    </figure>
  </li>
  {% endfor %}
</ul>